
body {

    background-color: #413D3D;

}


hr {

    margin-bottom: 20px;

    margin-top: 50px;

}


.grid {

    width: 600px;

    height: 500px;

    margin: 0 auto;

    background-color: lavender;

    padding: 10px 50px 50px 50px;

    border: 2px solid #cbcbcb;


}




.grid h1 {

    font-family: "sans-serif";

    background-color: darkred;

    font-family: "Copperplate Gothic Bold";

    font-weight: bolder;

    font-size: 60px;

    text-align: center;

    color: #ffffff;

    padding: 2px 0px;


}


#score {

    color: darkred;

    text-align: center;

    font-family: "Copperplate Gothic Bold";

    font-size: 30px;

}


.grid #question {

    font-family: "Copperplate Gothic Bold";

    font-size: 30px;

    color: darkred;

}


.buttons {

    margin-top: 30px;

}


#btn0, #btn1, #btn2, #btn3, #debut {

    font-family: "Copperplate Gothic Bold";

    background-color: darkred;

    width: 250px;

    font-size: 20px;

    color: #fff;

    border: 1px solid #1D3C6A;

    margin: 10px 40px 10px 0px;

    padding: 10px 10px;

}


#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover, #debut {

    cursor: pointer;

    background-color: darkred;


}


#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover, #debut:hover {

    -webkit-transform: scale(1.2);

    transform: scale(1.2);

    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);

    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-duration: 3s;

}


#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus, #debut:focus {

    outline: 0;

}


#progression {

    color: #2b2b2b;

    font-size: 18px;

}

#progression:hover {


    font-weight: bolder;
    font-size: 20px;
    transition-duration: 3s;

}

#Rejouer {


    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    position: static;
    color: darkred;

}

.hide {
    visibility: hidden;
}


h1:hover {
    color: lightslategray;
    font-weight: bolder;

}
